@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Caveat:wght@400..700&family=Itim&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
*
{
	margin:0;
	padding:0;
	box-sizing: border-box;
	/*	font-family: "Caveat Brush", cursive;
	font-family: "Poppins", sans-serif;normal and italic */
}
body
{
	background-image: linear-gradient(#a8ffff, #3cb371);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height:100vh;
}
.container
{
	position: relative;
	width: 100%;
	max-width: 1300px;
	min-height: 1500px;
	background: #ffffff;
	margin: 50px;
	opacity:0.8;
	display: grid;
	grid-template-columns: 1fr 2fr;
}
.container .left_Side
{
	position:relative;
	background: #001513;
	padding:40px;
	opacity:1;
}
.profiletxt
{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 15px;
	border-bottom: 3px solid rgba(255,255,255,0.4);
}
.profiletxt h2
{
	font-family: "Caveat Brush", cursive;
	font-size: 50px;
	color: #b7ffd6;
	margin-top: 20px;
	text-align: center;
	line-height: 40px;
}
.profiletxt h2 span
{
	font-family: "Caveat", cursive;
	font-size:40px;
}
.profiletxt .imgbox
{
	position: relative;
	margin: 0 auto;
	width: 250px;
	height:250px;
	border-radius: 60%;
	overflow:hidden;
}

.contactinfo
{
	padding-top:20px;
}
.contactinfo .title
{
	font-family:"Poppins", sans-serif;
	font-weight:700;
	font-size:25px;
	text-transform:uppercase;
	font-style: italic;
	color:#ffffff;
	margin-bottom:15px;
}
.contactinfo ul
{
	position:relative;
}
.contactinfo ul li
{
	position:relative;
	list-style:none;
	padding: 10px 0;
	cursor:pointer;
}
.contactinfo ul li .icon
{
	display:inline-block;
	width:30px;
	font-size:23px;
	color:#7affff;
}
.contactinfo ul li .text
{
	font-family: "Source Code Pro", serif;
	font-size:23px;
	color:#b7ffd6;
	opacity:0.6;
}
.contactinfo ul li .text:link
{
	font-family: "Source Code Pro", serif;
	font-size:23px;
	color:#b7ffd6;
	opacity:0.6;
}
.contactinfo ul li .text:hover
{
	font-family: "Source Code Pro", serif;
	font-size:25px;
	color:#ffffff;
	opacity:1;
}

.Education
{
	padding-top:20px;
}
.Education .title
{
	font-family:"Poppins", sans-serif;
	font-weight:700;
	font-size:25px;
	text-transform:uppercase;
	font-style: italic;
	color:#ffffff;
	margin-bottom:15px;
}
.Education ul
{
	position:relative;
}
.Education ul li
{
	position:relative;
	list-style:none;
	padding: 10px 0;
	cursor:pointer;
}
.Education ul li .icon
{
	display:inline-block;
	width:30px;
	font-size:23px;
	color:#7affff;
}
.Education ul li .text
{
	font-family: "Source Code Pro", serif;
	font-size:23px;
	color:#b7ffd6;
	opacity:0.6;
}
.Education ul li .text:link
{
	font-family: "Source Code Pro", serif;
	font-size:23px;
	color:#b7ffd6;
	opacity:0.6;
}
.Education ul li .text:hover
{
	font-family: "Source Code Pro", serif;
	font-size:25px;
	color:#ffffff;
	opacity:1;
}

.exp
{
	padding-top:20px;
}
.exp .title
{
	font-family:"Poppins", sans-serif;
	font-weight:700;
	font-size:25px;
	text-transform:uppercase;
	font-style: italic;
	color:#ffffff;
	margin-bottom:15px;
}
.exp ul
{
	position:relative;
}
.exp ul li
{
	position:relative;
	list-style:none;
	padding: 10px 0;
}
.exp ul li .icon
{
	display:inline-block;
	width:30px;
	font-size:23px;
	color:#7affff;
}
.exp ul li .text
{
	font-family: "Poppins", serif;
	font-weight:350;
	color:#ffffff;
	font-size:20px;
	font-style:italic;
}
.Lang
{
	padding-top:20px;
}
.Lang .title
{
	font-family:"Poppins", sans-serif;
	font-weight:700;
	font-size:25px;
	text-transform:uppercase;
	font-style: italic;
	color:#ffffff;
	margin-bottom:15px;
}
.Lang ul
{
	position:relative;
}
.Lang ul li
{
	position:relative;
	list-style:none;
	padding: 10px 0;
}
.Lang ul li .icon
{
	display:inline-block;
	width:30px;
	font-size:23px;
	color:#7affff;
}
.Lang ul li .text
{
	font-family: "Poppins", serif;
	font-weight:350;
	color:#ffffff;
	font-size:20px;
	font-style:italic;
}
.container .right_Side
{
	position:relative;
	display: grid;
	grid-template-rows: 1fr 1fr 2fr;
}
.container .right_Side .rightcontainer1
{
	padding-right:15px;
	position:relative;
	background: #ffffff;
}
.container .right_Side .rightcontainer1 .About
{
	padding-left: 25px;
	padding-top: 50px;
}
.container .right_Side .rightcontainer1 .About h2
{
	font-family:"Poppins", serif;
	font-weight:700;
	font-size:35px;
	text-transform:uppercase;
	font-style: italic;
	color:#001513;
}
.container .right_Side .rightcontainer1 .About p
{
	font-family: "Rubik", serif;
	font-weight: 300;
	font-size:25px;
	color:#001513
}
.container .right_Side .rightcontainer1 .About2
{
	padding-top:13px;
	padding-left:20px;
}
.container .right_Side .rightcontainer1 .About2 h2
{
	font-family:"Poppins", serif;
	font-weight:700;
	font-size:35px;
	text-transform:uppercase;
	font-style: italic;
	color:#001513;
}
.container .right_Side .rightcontainer1 .About2 ul
{
	padding-left: 30px;
	padding-top:10px;
	line-height:45px;
}
.container .right_Side .rightcontainer1 .About2 ul li .icon
{
	display:inline-block;
	width:30px;
	font-size:30px;
	color:#001513;
}
.container .right_Side .rightcontainer1 .About2 ul li .text
{
	padding-left:20px;
	padding-top:10px;
	font-family: "Rubik", serif;
	font-weight: 300;
	font-size:25px;
	color:#001513
}
.container .right_Side .rightcontainer2
{
	padding-left:25px;
	padding-top:35px;
	position:relative;
	background: #003630;
}
.container .right_Side .rightcontainer2 h2 
{
	font-family:"Poppins", sans-serif;
	font-weight:700;
	font-size:35px;
	text-transform:uppercase;
	font-style: italic;
	color:#ffffff;
}
.container .right_Side .rightcontainer2 .box h4
{
	position:relative;
	padding-left:25px;
	padding-top:15px;
	padding-bottom:15px;
	font-family: "Source Code Pro", serif;
	font-size:30px;
	color:#ffffff;
}
.container .right_Side .rightcontainer2 .box .percentile
{
	position:relative;
	top:0;
	left:30px;
	height:15px;
	width:85%;
	background:#ffffff;
}
.container .right_Side .rightcontainer2 .box .percentile .inner
{
	position:absolute;
	height:100%;
	width:100%;
	background:#84bc9f;
}
.container .right_Side .rightcontainer3 .whyyyyyy
{
	display: grid;
	grid-template-columns: 1fr 2fr;
	padding-top:20px;
}
.container .right_Side .rightcontainer3
{
	position:relative;
	background: #ffffff;
	padding-left:25px;
	padding-right:15px;
	padding-top:15px;
}
.container .right_Side .rightcontainer3 h5
{
	font-family:"Poppins", serif;
	font-weight:700;
	font-size:35px;
	text-transform:uppercase;
	font-style: italic;
	color:#001513;
}
.container .right_Side .rightcontainer3 .boxleft
{
	padding-left:35px;
}
.container .right_Side .rightcontainer3 .boxleft .Years
{
	font-family:"Poppins", serif;
	font-weight:700;
	font-size:20px;
	text-transform:uppercase;
	font-style: italic;
	color:#001513;
}
.container .right_Side .rightcontainer3 .boxleft .Jobtitle
{
	font-family: "Caveat", cursive;
	font-size:40px;
	color:#001513;
}
.container .right_Side .rightcontainer3 .boxleft .separator
{
	width:100%;
	position:relative;
	height:3px;
	background:#001513;
}
.container .right_Side .rightcontainer3 .boxleft .Company
{
	font-family:"Poppins", serif;
	font-weight:700;
	font-size:20px;
	text-transform:uppercase;
	font-style: italic;
	color:#001513;
}
.container .right_Side .rightcontainer3 .boxright .jobdesc
{
	font-family: "Rubik", serif;
	font-weight: 300;
	font-size:25px;
	color:#001513
}
